body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

li {
  padding-top: 10px;
  list-style: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #B5EAEA;
  border: 2px solid #EDF6E5;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
  height: 68px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 40px;
}

.next-player {
  margin-left: 30px;
  font-weight: bolder;
}

.history {
  width: 270px; /* 宽度 */
  height: 40px; /* 高度 */
  border-width: 0px; /* 边框宽度 */
  border-radius: 3px; /* 边框半径 */
  background: #F38BA0; /* 背景颜色 */
  cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
  outline: none; /* 不显示轮廓线 */
  color: white; /* 字体颜色 */
  font-size: 17px;
}
